<!DOCTYPE html>
<html class="x-admin-sm">

  <head>
    <meta charset="UTF-8">
    <title>拍摄照片列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/common/css/font.css">
    <link rel="stylesheet" href="/static/common/css/xadmin.css">
    <script type="text/javascript" src="/static/common/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/common/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/common/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/common/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="/welcome/">首页</a>
        <a><cite>识别结果列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">

      <table class="layui-table layui-form">
        <thead>
            <th width="100">照片</th>
            <th width="100">拍摄时间</th>
            <th>拍摄地点</th>
            <th width="70">摄像头id</th>
            <td width="70">操作</td>
        </thead>
        <tbody class="x-cate">
        {% for item in photo_data %}
          <tr cate-id='1' fid='0' >
            <td>
                <img src="{{ item.url }}" height="96" width="128" />
            </td>
            <td>
                {{ item.time }}
            </td>
            <td>
                {{ item.location }}
            </td>
            <td>
                {{ item.camera_id }}
            </td>
            <td class="td-manage">
              <button class="layui-btn layui-btn layui-btn-xs"  onclick="x_admin_show('查看原图','/monitor/detection-show?id={{ item.id }}')" ><i class="layui-icon">&#xe642;</i>查看原图</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

       <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <span class="current">1</span>
          <a class="next" href="">&gt;&gt;</a>
        </div>
       </div>
    </div>
  </body>
</html>