<html>
<head>
    <meta charset="UTF-8">
    <title>学生上机实验管理系统</title>
    <link rel="stylesheet" href="/static/common/css/notsosimple.css">
</head>
<body>
<!-- 顶部LOGO-->
<div id="header">
    <img src="/static/common/images/sys_logo.png" width="900" alt="sys logo"><br><br>
</div>
<div id="main">
    <div class="content-mat">
        <div id="content">
      <!-- 侧栏部分-->
      <!-- 以厦门大学空间中心为例, 添加效果 -->
      <div id="sidebar">
      <br>
      <dl class="nav3-grid">
        <dt><h3><a href="/login/"><br>登录系统<br> </a> </h3></dt>
        <dt><h3><a href="/register/"><br>用户注册<br> </a> </h3></dt>
        <dt><h3><a href="/document/"><br>项目文档<br> </a> </h3></dt>
		<dt><h3><a href="https://github.com/JianyunZhang/labMonitoring" target="_blank"><br>工程代码<br> </a> </h3></dt>
      </dl>
      <br>
    </div>
      <!--  侧栏部分结束  -->
            <div id="wikitext">
            <h1>欢迎使用学生上机实验管理系统！ @ Nanchang, NCHU</h1>
            <hr>
            <p class="vspace"><br></p>
            <h1>过程文档</h1><hr>
            <li><a href="/static/common/documents/You Only Look Once.pdf">YOLO参考文献</a>&nbsp;&nbsp;You Only Look Once</li><br>
            <li><a href="/static/common/documents/15205231张建赟-需求分析-具有图像识别功能的学生上机管理系统.doc">需求分析文档</a>&nbsp;&nbsp;15205231张建赟-开题报告</li><br>
            <li><a href="/static/common/documents/15205231张建赟-任务书.doc">任务书</a>&nbsp;&nbsp;15205231张建赟-任务书</li><br>
            <li><a href="/static/common/documents/15205231张建赟-开题报告.doc">开题报告</a>&nbsp;&nbsp;15205231张建赟-文献翻译</li><br>
            <li><a href="/static/common/documents/15205231张建赟-文献翻译.docx">文献翻译</a>&nbsp;&nbsp;15205231张建赟-需求分析-具有图像识别功能的学生上机管理系统</li><br>
              <!--
            <h1>参考文献</h1><hr>
            <small>（按发表时间排序）</small>
            <table border="0">
            <tr>
                <td width="400" height="30"><li><a href="./mem/liuxp.html">Xiaopeng Liu (刘晓鹏)</a> - 2011</li></td>
            </tr>
            <tr>
                <td width="400" height="30"><li><a href="./mem/zhangs.html">Shu Zhang (张述)</a> - 2012</li></td>
                <td width="400" height="30"><li><a href="./mem/zhangzhimei.html">Zhimei Zhang (张志梅)</a> - 2012</li></td>
            </tr>
            <tr>
                <td width="400" height="30"><li><a href="./mem/zhangq.html">Qin Zhang (张琴)</a> - 2013</li></td>
                <td width="400" height="30"><li><a href="./mem/fanhao.html">Hao Fan (范浩)</a> - 2014</li></td>
            </tr>
            <tr>
                <td width="400" height="30"><li><a href="./mem/sunjy.html">Jianyuan Sun (孙建园)</a> - 2014</li></td>
                <td width="400" height="30"><li><a href="./mem/lau.html">Lau Lima</a> - 2014</li></td>
            </tr>
            <tr>
                <td width="400" height="30"><li><a href="./mem/zhaoaite.html">Aite Zhao (赵爱特)</a> - 2015</li></td>
                <td width="400" height="30"><li><a href="./mem/yangyt.html">Yuting Yang (杨玉婷)</a> - 2015</li></td>
            </tr>
			<tr>
                <td width="400" height="30"><li><a href="./mem/2016luliang.html">Liang Lu (卢亮)</a> - 2016</li></td>
                <td width="400" height="30"><li><a href="./mem/2016wanglina.html">Lina Wang (王丽娜)</a> - 2016</li></td>
            </tr>
            </table>  <br><br><br>-->

           </div>
       </div>
        <div class="clearer"></div>
    </div>
    <div id="footer">
    <p align="center"><small>南昌航空大学软件学院: (Email) 15205231@stu.nchu.edu.cn</small></p>
    </div>
</div>
</body>
</html>